<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Document</title>
</head>
<body>
    <div class="bg-red-600 text-black flex flex-col justify-between list-none">
        <nav class="flex flex-row justify-between gap-4  ">
            <li>
                <a href="/user/">Home</a>
            <% if(user){%>
            <li>
                <a href="/user/logout">Logout</a>
            </li>
            <li>
                <a href="/user/profile">Profile</a>
            </li>
                 <%}else{%>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/user/signup">Sign</a>
            </li>
            <%}%>
        </nav>
    </div>
    <div>
        <h1>welcome to home page</h1>
    </div>
      <% homes.map(items => {%>
        <form action="/user/book" method="POST">
        <div class="bg-white rounded-md grid grid-row wrap-anywhere gap-2 border-2 border-black m-3 p-3">
        <div class=" bg-white rounded-leg shadow-lg p-4 flex flex-col w-32 h-30 overflow-hidden transition hover:shadow-xl">
            <h1 class=" text-black md-4"><img src="/<%= items.image.filePath %>" alt="items.image.name" class="w-full h-auto rounded-md object-cover"  ></h1>
            <h1 class="text-xl font-bold  text-black"><%= items.homename%></h1>
            <h1 class="text-lg font-semibold  text-black"><%= items.duration %></h1>
            <h1 class="text-xl font-bold  text-black"><%= items.price %></h1>
            <h1 class="text-sm  text-black"><%= items.description %></h1>
            <h1 class="text-lg font-semibold  text-black"><%= items.city %></h1>
            <h1 class="text-lg font-semibold  text-black"><%= items.state %></h1>
            <h1 class="text-lg font-semibold  text-black"><%= items.country %></h1>
            
            <!-- Hidden inputs to pass all values -->
            <input type="hidden" name="homename" value="<%= items.homename %>">
            <input type="hidden" name="duration" value="<%= items.duration %>">
            <input type="hidden" name="price" value="<%= items.price %>">
            <input type="hidden" name="description" value="<%= items.description %>">
            <input type="hidden" name="city" value="<%= items.city %>">
            <input type="hidden" name="state" value="<%= items.state %>">
            <input type="hidden" name="country" value="<%= items.country %>">
            <input type="hidden" name="image" value="<%= JSON.stringify(items.image) %>">
            <input type="hidden" name="email" value="<%= items.email %>">
            <input type="hidden" name="id" value="<%= items.email %>">
            
        </div>
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Book Now</button>
    </form>
        <%})%>
     
</body>
</html>